/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* common background-color */
.common-bg {
  background: #3bb77e;
}

/* navigation css */

.left-column a {
  text-decoration: none !important;
  color: #666;
  padding: 0 10px;
  border-right: 1px solid rgb(192, 173, 173);
}
a {
  text-decoration: none !important;
  color: #666;
}

/* // banner background */

.banner {
  background-image: url("https://previews.123rf.com/images/eigens/eigens1909/eigens190900613/129459431-lavender-pastel-gray-and-light-gray-colors-illustration-abstract-cloudy-texture-background-with-spac.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

/* // slider image  */
.slider-image {
  height: 400px;
}

/* //  slider 1 background */
.slider-1 {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-top-view-background-of-desktop-with-electronic-devices-and-laptop-image_307721.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.slider-2 {
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-aba88460b7cf01d7b0aaccfcdf78ee7c");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
