/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* common background-color */
.common-bg {
  background: #3bb77e;
}

/* navigation css */

.left-column a {
  text-decoration: none !important;
  color: #666;
  padding: 0 10px;
  border-right: 1px solid rgb(192, 173, 173);
}
a {
  text-decoration: none !important;
  color: #666;
}

/* // banner background */

.banner {
  background-image: url("https://i.pinimg.com/originals/80/82/5c/80825c6b73c2e15affd91a473339b0fb.png");

  background-repeat: no-repeat;
  background-size: cover;
}

/* // slider image  */
.slider-image {
  height: 400px;
}

/* //  slider 1 background */
.slider-1 {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-top-view-background-of-desktop-with-electronic-devices-and-laptop-image_307721.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.slider-2 {
  background-image: url("https://cdn.pixabay.com/photo/2019/08/21/16/18/laptop-4421417_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

/* // product  */
.product {
  text-align: center;
  border-radius: 7 px;
  box-shadow: 0px 2px 12px 0px #80808047;
}

.product-image:hover {
  transform: scale(1.2);
}
